
<h2>Add a Book</h2>
<input [(ngModel)]="book.isbnId" placeholder="Enter ISBN ID">
<input [(ngModel)]="book.title" placeholder="Enter Title">
<Button (click) = "onAdd(book.isbnId,book.title, book.user )"> Add </Button>

<h2>My Books</h2>
<ul class="books">
  <li *ngFor="let book of books"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    <span class="badge">{{book.isbnId}}</span> {{book.title}} {{book.user}}
  </li>
</ul>

<app-book-details [book]="selectedBook"></app-book-details>

