<h2>My Comments</h2>
<ul class="books">
  <header id="commentsHeader">
    <span class="bookId"> <b>Book ID</b> </span>
    <span class="title"><b> Title </b></span>
    <span class="comment"> <b>Comment</b> </span>
    <span class="rating"> <b>Rating </b></span>

  </header>
  <li *ngFor="let comment of comments" id="comments">
    <span class="bookId"> {{comment.bookId}} </span>
    <span class="title"> {{comment.title}} </span>
    <span class="comment"> {{comment.comment}} </span>
    <span class="rating"> {{comment.rating}} </span>

  </li>
</ul>
