
<h2>Add a Book</h2>
<input [(ngModel)]="book.isbnId" placeholder="Enter ISBN ID">
<input [(ngModel)]="book.title" placeholder="Enter Title">
<Button (click) = "onAdd(book)"> Add </Button>

<h2>My Books</h2>
<ul class="books">
  <li *ngFor="let book of books"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    <span class="column1">{{book.isbnId}}</span>
    <span class="column2">{{book.title}} </span>
       <span class="column3">{{book.user}}</span>
  </li>
</ul>

<app-book-details [book]="selectedBook"></app-book-details>

