
<h2>Add a Book</h2>
<input [(ngModel)]="book.isbnId" placeholder="Enter ISBN ID" id="isbnID">
<input [(ngModel)]="book.title" placeholder="Enter Title" id="title">
<Button (click) = "onAdd(book)" id="add"> Add </Button>

<h2>My Books</h2>
<ul class="books">
  <Header id="booksHeader">
    <span class="bookId"> <b>ISBN ID</b> </span>
    <span class="title"><b> Title </b></span>
  </Header>
  <li *ngFor="let book of books" id="booksList">
    <a routerLink="/detail/{{book.isbnId}}/{{book.title}}">
    <span class="bookId">{{book.isbnId}}</span>
    <span class="title">{{book.title}} </span>
    </a>
  </li>
</ul>

