.books header {
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.books {
  width: 70%;
}


.books .bookId {
  width: 10%;
}

.books .title {
  width: 60%;
}

.books .user {
  float: right;
}
