
  <h2>{{title}}</h2>
  <h2>Add Your comments</h2>
  <input [(ngModel)]="comment.comment" placeholder="Add your comments here">

  <select [(ngModel)]="comment.rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <Button (click)="onAdd(comment)"> Add</Button>


  <ul class="books">
    <li *ngFor="let comment of comments">
      <span class="column1"> {{comment.rating}} </span>
      <span class="column2"> {{comment.comment}} </span>
      <span class="column3"> {{comment.user}} </span>
    </li>
  </ul>


