
  <h2>{{title}}</h2>
  <h2>Add Your comments</h2>
  <textarea rows="4" cols="50" [(ngModel)]="comment.comment" placeholder="Add your comments here" id="comment">
  </textarea>
  <span> <h2>Your rating</h2>
  <select [(ngModel)]="comment.rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <Button (click)="onAdd(comment)" id="add"> Add</Button></span> <br><br>

  <ul class="books">
    <li>
      <span class="rating"> <b>Rating</b> </span>
      <span class="comment"><b> comment </b></span>
      <span class="user"> <b>user</b> </span>

    </li>
    <li *ngFor="let comment of comments">
      <span class="rating"> {{comment.rating}} </span>
      <span class="comment"> {{comment.comment}} </span>
      <span class="user"> {{comment.user}} </span>
    </li>
  </ul>


